body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1d1a;
  margin: 0;
}

.nav h1 {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 50px;
  color: #38aca2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #26413c;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 15px;
  position: relative;
  border: 3px solid black;
}

.box:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.box::after {
  position: absolute;
  top: 50%;
  right: -30px;
  width: 30px;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.box:last-child::after {
  display: none;
}

.link_1 {
  background-color: white;
  mix-blend-mode: multiply;
}

.link_2 {
  background-color: white;
  mix-blend-mode: multiply;
}

.link_3 {
  background-color: white;
  mix-blend-mode: multiply;
}

.box a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
